services:
  web:
    build: .
    ports:
      - "80:80"
      - "443:443"
    env_file:
      - .env
    volumes:
      - ./apache/sites-available:/etc/apache2/sites-available:ro
      - ./apache/ssl:/etc/letsencrypt  # Certbot stores certs here
      - ./apache/ssl:/var/www/certbot   # Needed for ACME challenge
    restart: unless-stopped
    depends_on:
      - postgres
      - pgadmin

  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_/var/lib/postgresql/data
    restart: unless-stopped

  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD}
    restart: unless-stopped

volumes:
  postgres_